.Rproj.user
.Rproj.user-old
cache
inputs
outputs/FRU-26
.Rhistory
.Rdata
.RData
.secret
.secrets
.Rprofile
.Restart*
.httr-oauth
.DS_Store
.quarto
outputs/*
scratch/*

SpeciesPresentInCanadianForests.tif
SpeciesPresentInCanadianForests.tif.aux.xml
SpeciesPresentInCanadianForests.zip
Ecoprovinces/ecoprovinces.dbf
Ecoprovinces/ecoprovinces.prj
Ecoprovinces/ecoprovinces.sbn
Ecoprovinces/ecoprovinces.sbx
Ecoprovinces/ecoprovinces.shp
Ecoprovinces/ecoprovinces.shx
gadm/gadm41_CAN_1_pk.rds
R/studyAreaFuns.R
ecoprovince_shp.zip
means.png
nohup.out
FRU.zip
logs/*
outputs
Rplots.pdf
outputs/4.3
experiment*
gtopo*
tmux*
fireSenseParams.rds
*.lock
